

body, html {
    height: 100%; 
    margin: 0;
    padding: 0; 
}
body{
    background-image: url('../assets/bnl.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100%;
   
}

header {
    display: flex;
    text-align: center; 
    padding: 20px;
    justify-content: space-between;
}
.img{
    height: 12vh;
    width: 6vw;
    border-radius: 90px;
}
ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    
}

li {
    margin-right: 120px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    
}
a {
    text-decoration: none; 
    color: inherit; 
}
ul li a {
    font-size: 20px; 
    transition: font-size 0.3s ease; 
}

ul li a:hover {
    font-size: 30px; 
}

section{
width: 45%;
    height: 200px;
    margin-top: 200px;
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 162, 255);
    font-size: 90px;
    position: relative;
    left: 40px;
    top: -82px;

}
p{
    border-bottom: 2px solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: relative;
    left: 40px;
    top: -60px;

}
.image-container {
    position: absolute;
    top: 35%;
    left: 58%;
    pointer-events: none;
    
}

.image-container img {
    position: absolute;
    top: 10;
    left: 0;
    width: 400px; 
    height: 350px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 190px;
}

.image-container img.active {
    opacity: 1;
}
/* Estilos para la sección de recursos educativos */
.resources {
    margin-top: 50px;
}

.resources h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.resources ul {
    list-style-type: none;
    padding: 0;
}

.resources li {
    margin-bottom: 10px;
}

.resources a {
    text-decoration: none;
    color: #007bff;
}

.resources a:hover {
    text-decoration: underline;
}
